*{
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100px;
    border: 1px solid rgba(236, 228, 228, 0.616);
}

.header__logo{
    height: 40px;
}

.header__icon{
    padding: 10px;
}